import { Injectable } from '@angular/core';

/**
 * Global configuration for Api services
 */
@Injectable({
  providedIn: 'root'
})
export class ApiConfiguration {
  rootUrl = '';
}

export interface ApiConfigurationInterface {
  rootUrl?: string;
}
