<mat-form-field [appearance]="appearance || 'outline'" *ngIf="control" [ngSwitch]="type"  style="width: 100%">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <textarea *ngSwitchCase="'textarea'" matInput [formControl]="control"></textarea>
  <input *ngSwitchDefault matInput [formControl]="control" [type]="type === 'password' ? (hidePassword ? 'password' : 'text') : type">
  <a *ngIf="type==='password'" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" >
    <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </a>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="control.errors"> {{ control.errors }} </mat-error>
</mat-form-field>
