<div fxFlexFill fxLayout="column" *ngIf="_dataSource && options">
  <mat-form-field *ngIf="options.filter" fxFlex="50px">
    <input matInput #filter [placeholder]="options.filter?.placeholder || 'Filter'" (keyup)="applyFilter($event)" />
  </mat-form-field>
  <cdk-virtual-scroll-viewport fxFlex [tvsItemSize]="48">
    <table matSort mat-table [dataSource]="_dataSource">
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
      <ng-container *ngFor="let column of options?.columns; let i = index" matColumnDef="{{ column.key }}">
        <th mat-header-cell mat-sort-header [disabled]="column.isSortable === false" *matHeaderCellDef>
          {{ column.title || column.key }}
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container
            *ngIf="_matCellDefs[column.key]; else default"
            [ngTemplateOutlet]="_matCellDefs[column.key]"
            [ngTemplateOutletContext]="{ row: row, index: i }"
          >
          </ng-container>
          <ng-template #default>{{ row[column.key] }}</ng-template>
        </td>
      </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
