.mat-cell,
.mat-header-cell {
  padding-left: 50px;
  padding-right: 50px;
}

table {
  width: 100%;
  button {
    margin-right: 8px;
    margin-left: 8px;
  }
  .actions-column {
    width: 120px;
  }
  .actions {
    visibility: hidden;
  }
  .mat-row {
    color: #000;
    :hover {
      .actions {
        visibility: visible;
      }
    }
  }
}
